<nav class="navbar navbar-expand-md  navbar-fixed navbar-color glassBackground">
  <!-- Brand -->
  <a class="navbar-brand" href="www.nehrutrophy.nic.in">
      <img src="/assets/ntbrlogo.png" alt="Logo" style="width:25px;"> 
    </a>
  

  <!-- Navbar links -->
  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink = '/home' routerLinkActive = ' nav-active ' href="home">{{ 'nav.home' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/about' routerLinkActive = ' nav-active ' href="about">{{ 'nav.about' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/contact' routerLinkActive = ' nav-active ' href="contact">{{ 'nav.contact' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/gallery' routerLinkActive = ' nav-active ' href="gallery">{{ 'nav.gallery' | translate }}</a>
      </li>
      <li class="nav-item booking">
        <a id="button-buy " class="" routerLink = '/buytickets' href="buytickets">{{ 'nav.buy' | translate }}</a>
      </li>
    </ul>

  </div>
    <div class="hidden-md-down">
      <ul class="ml-auto">
        <li class="nav-item dropdown hidden-md-down">
          <a class="nav-link " href="#" id="navbardrop" data-toggle="dropdown">
            <div class="navbar-toggler-icon hamburger mr-auto" id="hamburger-6">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </a>
          <div class="dropdown-menu">
            <a class="nav-link "  routerLink = '/home' routerLinkActive = ' nav-active ' href="home">{{ 'nav.home' | translate }}</a>
            <a class="nav-link "  routerLink = '/about' routerLinkActive = ' nav-active ' href="about">{{ 'nav.about' | translate }}</a>
            <a class="nav-link "  routerLink = '/contact' routerLinkActive = ' nav-active ' href="contact">{{ 'nav.contact' | translate }}</a>
            <a class="nav-link "  routerLink = '/gallery' routerLinkActive = ' nav-active ' href="gallery">{{ 'nav.gallery' | translate }}</a>
            <a id="button-buy " class="nav-link" href="#">{{ 'nav.buy' | translate }}</a>
          </div>
        </li>
    
      </ul>
    </div>
    <button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('de')">ml</button>
    <!-- navbar ends -->
</nav>
