<div class="container-fluid flex-center aboutBackground">
    <div class="row contentContainer" id="contentContainer">
        <div class="col-lg-9 aboutContent" id="aboutContent">
            
            <div class="row">
                    <h1 class="contentHeader" id="content-history">WHOM TO CONTACT</h1>
                <div class=" whomtocontact ">
                    <div class="col-md-6 whomtocontact-item ">
                        <p>
                            <strong>CHAIRMAN: </strong> DISTRICT COLLECTOR, ALAPPUZHA</p>
                        <p>PHONE: 0477 - 2251720(Office), 9447129011(Mobile)</p>
                        <p>EMAIL: dcalp.ker@nic.in , nehrutrophy@kerala.nic.in</p>
                        <br>
                        <br>
                        <p>
                            <strong>SECRETARY : </strong> REVENUE DIVISIONAL OFFICER, ALAPPUZHA</p>
                        <p>PHONE: 0477 - 2263441(Office), 9447495002(Mobile)</p>
                        <p>NEHRU TROPHY BOAT RACE SOCIETY</p>
                        <p>FAX: 0477 - 2263441 </p>
                        <p>VINOD KG, OFFICE SECRETARY, ALAPPUZHA</p>
                        <p>PHONE:9995056016(Mobile).</p>
                    </div>
                    <div class="col-md-6 whomtocontact-item">
                        <p>
                            <strong>Emergency Security Numbers</strong>
                        </p>
                        <p>0477-2239161, 100, 1090, 1091</p>
                        <br>
                        <br>
                        <p>
                            <strong>For Tourism related Informations</strong>
                        </p>
                        <p>DTPC Information Office </p>
                        <p>PHONE: 9400051796(Mobile), 0477-2253308( Office)</p>
                        <p>NEHRU TROPHY BOAT RACE SOCIETY</p>
                        <p>EMAIL: dtpcalpy@yahoo.com</p>
                    </div>
                </div>

                
                    <table class="tg table table-striped">
                        <tr>
                            <th class="tg-yw4l" colspan="5">List of Committees and Convenors</th>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">SlNo</td>
                            <td class="tg-yw4l">NAME
                                <br>&nbsp;&nbsp;OF COMMITTEE</td>
                            <td class="tg-yw4l">NAME
                                <br>&nbsp;&nbsp;OF CONVENER</td>
                            <td class="tg-yw4l">OFFICE
                                <br>&nbsp;&nbsp;ADDRESS</td>
                            <td class="tg-yw4l">Phone
                                <br>&nbsp;&nbsp;No.</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">1</td>
                            <td class="tg-yw4l">Finance
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">RDO, Alappuzha</td>
                            <td class="tg-yw4l">Revenue
                                <br>&nbsp;&nbsp;Divisional Office, Alappuzha</td>
                            <td class="tg-yw4l">9447495002</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">2</td>
                            <td class="tg-yw4l">Infrastructure
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Executve
                                <br>&nbsp;&nbsp;Engineer(Irrigation), Alappuzha</td>
                            <td class="tg-yw4l">Irrigation
                                <br>&nbsp;&nbsp;Ex.Engineer Office, Alappuzha</td>
                            <td class="tg-yw4l">9447145007</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">3</td>
                            <td class="tg-yw4l">Sponsorship
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">RDO, Alappuzha</td>
                            <td class="tg-yw4l">Revenue
                                <br>&nbsp;&nbsp;Divisional Office, Alappuzha</td>
                            <td class="tg-yw4l">9447495002</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">4</td>
                            <td class="tg-yw4l">Souvenir
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Addl. District
                                <br>&nbsp;&nbsp;Magistrate Alappuzha</td>
                            <td class="tg-yw4l">Collectorate,
                                <br>&nbsp;&nbsp;Alappuzha</td>
                            <td class="tg-yw4l">9447495001</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">5</td>
                            <td class="tg-yw4l">Publicity
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">District
                                <br>&nbsp;&nbsp;Information Officer Alappuzha</td>
                            <td class="tg-yw4l">District
                                <br>&nbsp;&nbsp;Information Office, Alappuzha</td>
                            <td class="tg-yw4l">9496003212</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">6</td>
                            <td class="tg-yw4l">Food Committee</td>
                            <td class="tg-yw4l">Tahsildar,
                                <br>&nbsp;&nbsp;Ambalappuzha, Alappuzha</td>
                            <td class="tg-yw4l">Taluk Office,
                                <br>&nbsp;&nbsp;Ambalappuzha, Alappuzha</td>
                            <td class="tg-yw4l">9447495005</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">7</td>
                            <td class="tg-yw4l">Cultural
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Municipal
                                <br>&nbsp;&nbsp;Chairperson, Alappuzha</td>
                            <td class="tg-yw4l">Municipal
                                <br>&nbsp;&nbsp;Office, Alappuzha</td>
                            <td class="tg-yw4l">9446363935</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">8</td>
                            <td class="tg-yw4l">Transport
                                <br>&nbsp;&nbsp;Committee</td>
                            <td class="tg-yw4l">Inspector of
                                <br>&nbsp;&nbsp;Boats, Alappuzha</td>
                            <td class="tg-yw4l">Office of the
                                <br>&nbsp;&nbsp;Inspector of Boats, Alappuzha.</td>
                            <td class="tg-yw4l">9447033961</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">9</td>
                            <td class="tg-yw4l">IT Committee.</td>
                            <td class="tg-yw4l">District
                                <br>&nbsp;&nbsp;Informatics Officer, Alappuzha</td>
                            <td class="tg-yw4l">National
                                <br>&nbsp;&nbsp;Informatics Centre, Collectorate, Alappuzha</td>
                            <td class="tg-yw4l">9446559585</td>
                        </tr>
                    </table>
                    
            
            <h1 class="contentHeader" id="content-history"> FEEDBACKS</h1>
            <h1 class="contentHeader" id="content-history"> DO's and DONT's</h1>
            <h3>DO's</h3>
            <p>Purchase tickets from authorized retail outlets (through Govt. depts. And tourism information office– authorized ticket counter)</p>
            <p>Please check the tickets for authorized seal of the committee and serial number</p>
            <p>Authorized counters can be identified with banners having logo of NTBR</p>
            <p>Try to reach Alappuzha by 9 AM</p>
            <p>The committee already arranged separate boats for the tourists and ticket holders to reach the race area</p>
            <p>The ticket holders must reach the specially arranged boat jetty by 11:00 for catching the boat</p>
            <p>Try to bring food items and water and can take to the venue</p>
            <p>Occupy your seat by 12:00 noon</p>
            <p>Vehicles can be parked in Municipal Stadium north of Zillah Court Bridge</p>
            <p>This facility will available only up to 11:00 AM</p>
            <p>Less luggage more comfort</p>
            <p>Show your tickets at the entrance of the boat jetty and also at the entrance of the pavilion</p>
            <p>For any help please contact the control room 2243441 / 100 (police)</p>
            <br>
            <h3>DONT's</h3>
            <br>
            <p>Do not purchase tickets from unauthorized person</p>
            <p>Do not purchase complimentary passes by paying cash</p>
            <p>Do not purchase tickets having no seal or serial no. etc.</p>
            <p>Do not bring any explosive items and dangerous electronic devices</p>
            <p>Smoking is not allowed in the pavilion</p>
            <p>Do not bring liquors to the pavilion</p>
            <br>
            <br>
            <h1 class="contentHeader" id="content-history">LOCATION</h1>
            <h2>How to Reach Punnamada Lake</h2>
        <div id="googleMap" style="width:100%;height:400px;"></div><br>
        
        <p>Reach Alappuzha before 11 AM and occupy your seats.<br>
        Boat Services will not be available from 12 Noon.<br>
        Boat Services will be available from 10 AM to 12 Noon</p><br><br>
        <h2>Distance</h2>
        <ul>
          <li>80 Km south of Cochin International air port . 70 minutes journey by N.H 47.
            </li>
            <li>60 Km South of Cochi . An hour's drive from Cochi by N.H.47.</li>
            <li>170 Km North of Kovalam . 3 & 1/2 hour's journey by N.H 47.</li>
            <li>125 Km West of Thekkady . 3 hour's journey by N.H 47.</li>
            <li>From Alappuzha Railway station to venue about 5 Km.</li>
            <li>From Alappuzha K.S.R.T.C Bus station to venue-Walkable distance.</li>
        </ul>

        <h2>Vechiles coming from</h2>
        <ul class="lsts">
          <li>Ernakulam Side :<br>
              Turn left after Shavakkotta Bridge (Power House Bridge) → YMCA Bridge → Turn Right→ Parking at Municipal Stadium / North bank of Canal
            </li>
            <li>Railway Station, Alappuzha :<br>
                Railway Station → Medical College Junction (General Hospital) → Turn left → YMCABridge → Turn Right → Parking at Municipal Stadium / North Bank of Canal</li>
            <li>Kottayam :<br>
                NH 47 → Medical College Junction (General Hospital) → YMCA Bridge → Turn Right →Parking at Municipal Stadium / North Bank of Canal</li>
            <li>Thiruvananthapuram :<br>
                NH 47 → Medical College Junction (General Hospital) → YMCA Bridge → Turn Right →Parking at Municipal Stadium / North Bank of Canal Reaching the Pavilions: BoatServices will not be available from 12 Noon.</li>
            <li>Hon.ministers,Judges, & Principal Secretaries:
                Lake Palace Amenity Jetty East of KSRTC bus station</li>
            <li>Acredited Press Persons:<br>
                DTPC Jetty Entry Point (2)</li>
            <li>Sponsers & Special invites:<br>
                DTPC Jetty Entry Point 2 (A)</li>
            <li>Tourist Ticket Holders :
              <ul class="lsts">
                <li>Tourist Gold – (Rs.2000/-)<br>
                    District Court Bridge → Finishing Point Road → Gate No.(6)</li>
                <li>Tourist Gold – (Rs.1000/-)<br>
                    District Court Bridge → Finishing Point Road → Gate No.(7)</li>

                      <li>Rose Corner - Ticket Holders ( Rs.500/- & Rs.300/-)<br>
                          Board boats from SWTD Boat Jetty</li>
                        
                        <li>Victory Lane Ticket Holders ( Rs.200/-)<br>
                            District Court Bridge → Finishing Point Road → Gate No.(8)</li>

                          <li>Lake View – (Rs.100/-)<br>
                              District Court Bridge → Finishing Point Road → Gate No.(9) & (9A)</li>

                            <li>Lawn<br>
                                District Court Bridge → Finishing Point Road → Gate No.(10)</li>
                                <li>All View :<br>
                                    District Court Bridge → Turn East → By road through South Bank of Canal → SWTD dockyard Ponjikkara bridge.</li>
              </ul>
            </li>
        </ul>
  
        </div>

    </div>
    </div>
    
    <div class="verticalNav">
            <div class="verticalnav">
                <ul id="verticallinks" class="">
                    <a routerLinkActive='routerLinkActive' id="li1" href="#content-history" class="aboutContentLink">
                        <li>WHOM TO
                            <br>CONTACT</li>
                    </a>
                    <a routerLinkActive='routerLinkActive' id="li2" href="#content-boatrace" class="aboutContentLink">
                        <li>FEEDBACKS</li>
                    </a>
                    <a routerLinkActive='routerLinkActive' id="li3" href="#content-voe" class="aboutContentLink">
                        <li>DO's AND DON'Ts</li>
                    </a>
                    <a (onClick)="scrollToNT()" id="li4" href="#content-nt" class="aboutContentLink">
                        <li>LOCATION</li>
                    </a>
                </ul>
            </div>
        </div>
    <button class="button ">
        <span>Download PDF </span>
    </button>

</div>